<header>
  <nav class="navbar navbar-black bg-black sticky-top">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a href="" class="text-decoration-none text-white m-auto fs-1" style="font-family: Biger;">
          <img src="../../../../assets/img/LOGO.webp" class="img-fluid" style="width: 80px;" alt="">
        </a>
      </div>
      <div class="navbar-content d-flex justify-content-end">
        <ul class="nav">
          <li class="nav-item">
            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none text-white text-center m-2" routerLink="">
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none text-white text-center m-2" routerLink="/about">
              ¿Quienes Somos?
            </a>
          </li>
          <li class="nav-item">
            <a class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-whatsapp"></i> WhatsApp
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=542644682062">
                  Ventas Online
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=542645320318">
                  Servicio Técnico
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" href="https://wa.me/message/SXEDLC4LIH26I1">Empresas</a>
              </li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow  fs-5 p-2 m-1">
              Diseño y programación
            </a>
          </li>
          <li class="nav-item">
            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow  fs-5 p-2 m-1">
              Eventos
            </a>
          </li>
          <li class="nav-item a-tienda">
            <a id="btn-tienda" class="nav-item text-decoration-none shadow fs-5 p-2 m-1 flicker-fast" href="https://maxserstore.com.ar/"><i
                class="bi bi-shop"></i> Maxser Store</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>






<div class="d-block d-md-none">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>

</div>
