<nav class="navbar navbar-expand-lg bg-black">
  <div class="">
    <a class="navbar-brand" href="">
      <img src="../../../../assets/img/LOGO.webp" width="80" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav position-absolute end-0">
        <li class="nav-item">
          <a href="/" class="text-white nav-link m-2 p-2">
            Inicio 
          </a>
        </li>
        <li class="nav-item">
          <a href="/about-us" class="m-2 p-2 text-white nav-link">
            ¿Quienes Somos?
          </a>
        </li>
        <li class="dropdown nav-item">
          <a class=" m-2 p-2 btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-whatsapp"></i> WhatsApp
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              <a class="dropdown-item"  href="https://api.whatsapp.com/send?phone=542644682062">
                Ventas Online
              </a>
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=542645320318">
                Servicio Técnico
              </a>
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" href="https://wa.me/message/SXEDLC4LIH26I1">Empresas</a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a target="_blank" class="m-2 p-2 text-white nav-link" href="https://bricode-sj.web.app">
            Diseño y programacion</a>
        </li>

        <li class="nav-item">
          <a class="m-2 p-2 text-white nav-link" href="/eventos">Eventos</a>
        </li>
        <li class="nav-item a-tienda">
          <a id="btn-tienda" class="m-2 p-2 nav-link white flicker-fast"
            href="https://maxserstore.com.ar/"><i class="bi bi-shop"></i> Maxser Store</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
