<div class="row">
    <div class="col-12 col-md-6">
        <section class="showcase">
            <!-- <video class="container" src="../../../../assets/video/cuotas fijas.mp4" [autoplay]="true" loop [muted]="true"></video> -->
            <img src="../../../../assets/img/bg.jpg" alt="">
            <h1 class="title">MAXSER</h1>
        </section>
    </div>
    <div class="col-12 col-md-6">
        <video class="d-md-block container w-100" id="video" style="zoom: 100%" loop [autoplay]='true' preload [muted]='true' playsinline src="../../../../assets/video/cuotas fijas.mp4"></video>
    </div>
</div>
