@font-face {
    font-family: 'Zolano';
    src: url("../../../../assets/fonts/zolano.ttf");
}

.showcase{
    justify-content: center;
    position : relative;
    height: 100%;
}
.showcase img{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: auto;
    left: auto;
    object-fit: cover;

}
.title{
    background-color: black;
    font-size: 10vw;
    font-family: 'Zolano', sans-serif;
    color: white;
    mix-blend-mode: multiply;
    text-align: center;

    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    top: auto;
}

.video{
    width: 50%;
}

#maxsoft{
    width: 100%;
    font-family:"BrownPro";
    background-image: url("../../../../assets/img/maxsoft/fondo-maxsoft.webp");
}
.maxsoft-logo{
    min-width: 200px; 
    max-width: 550px;
}


@media (max-width:700px) {
    .video{
        display: none;
    }
    .title{
        font-size: 20vw;
    }
}