

<!-- Inicio de carousel -->
<div id="carouselExampleControls" class="carousel slide bg-black" data-bs-ride="carousel">
  <!-- PC Format -->
  <div class="carousel-inner" *ngIf="pc">
    <div *ngFor="let i of localImg">
      <div class="carousel-item" [ngClass]="i.first">
        <img [src]="i.url" class="d-block w-100" alt="carousel-#1">
      </div>
    </div>
  </div>
  <!-- End PC format -->

  <!-- Mobile Format -->
  <div class="carousel-inner" *ngIf="mobile">
    <div *ngFor="let i of localImgMobile">
      <div class="carousel-item" [ngClass]="i.first">
        <img [src]="i.url" class="d-block w-100" alt="carousel-#1">
      </div>
    </div>
  </div>
  <!-- End Mobile Format -->

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
<!-- Fin carousel -->


<!-- Inicio Maxsoft -->
<div class="p-5" id="maxsoft">
  <div class=" row justify-content-end m-auto p-5 d-flex">
    <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" class="col-12 col-md-10">
      <img src="../../../../assets/img/maxsoft/logo.webp" class="m-auto col-12 col-md-10 maxsoft-logo"
        alt="maxsoft-logo">
      <p class="text-white">
        El mejor sistema de gestión de inventario, ventas y servicios para tu empresa o negocio.
      </p>
    </div>
    <div data-aos="zoom-in" data-aos-offset="300" data-aos-easing="ease-in-sine"
      class="col-12 col-md-2 alin-items-center">
      <a target="_blank" href="enterprise.html"
        style="border: solid 2px #fe9000; background-color: #e9650e; margin-top: 70px;" class="btn">
        Más info!
      </a>
    </div>
  </div>
</div>
<!-- End Maxsoft -->

<!-- Start Products Carousel -->
<div id="productCarousel" class="carousel slide bg-black" data-bs-ride="carousel">
  <div class="carousel-inner carousel-products">
    <h1 class="text-white text-center pt-4 pb-0 mb-0" style="font-family: doctor-glitch;">Nuestros Productos</h1>


    <!-- PC Format -->
    <div class="d-block m-auto" *ngFor="let items of slides; let j = index">
      <div class="carousel-item row" [ngClass]="{'active':j===0}" *ngIf="pc">
        <div class="col-md-3 d-inline-block  m-auto " *ngFor="let i of items">
          <img class="m-auto" [src]="i.url" alt="">
        </div>
      </div>
    </div>
    <!-- End PC Format -->

    <!-- Mobile Format -->
    <div class="carousel-inner" *ngIf="mobile">
      <div *ngFor="let i of localProductImg">
        <div class="carousel-item" [ngClass]="i.first">
          <img [src]="i.url" class="d-block w-100" alt="carousel-#2">
        </div>
      </div>
    </div>
    <!-- End Mobile Format -->
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
<!-- End Products Carousel -->

<div style="height: 3rem;"></div>

<!-- Gradient Bar -->
<div class="gradient ">
  <div class="d-flex flex-row justify-content-around my-auto">
    <div class="p-2">
      <h3 class="text-black" >09AM</h3>
    </div>
    <div class="p-2">
      <h3 class="text-warning" >TODO EL AÑO</h3>
    </div>
    <div class="p-2">
      <h3 class="text-white" >21PM</h3>
    </div>
  </div>
</div>
<!-- End Gradient Bar -->

<div style="height: 3rem;"></div>

<!-- Site map -->
<div class="container-fluid ubic p-1 p-md-5 m-0" id="ubicacion">
  <div data-aos="fade-in" data-aos-offset="450" data-aos-easing="ease-out-sine" class="container row m-auto aos-init aos-animate">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5554.0507652152055!2d-68.5291790391953!3d-31.572807984770506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x178904cc7e8269fd!2sMAXSER%20Tecnolog%C3%ADa%20sin%20limites!5e0!3m2!1ses!2sar!4v1632228156924!5m2!1ses!2sar" style="width: 80%; min-width:300px;" height="350px" class="col-12 pt-3 pb-3 rounded-3 m-0 m-md-auto" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
<!-- End Site map -->



<!-- Social Media -->

<div class="container-fluid bg-black p-2">
  <div class="container row p-4 m-auto cont-redes">
    <h2 class="m-auto col-sm-12 text-center text-white p-4" style="font-family: doctor-glitch;">Seguinos en nuestras Redes</h2>
    <div class="m-auto col-md-6 col-sm-12 mb-3 justify-content-center text-center div-redes">
      <p>
        Seguinos
        <br>
        <br>
        </p><div class="row social_icon">
          <div class="col-md-2">
            <a href="https://www.facebook.com/MaxserSJ"><i class="bx bxl-facebook"></i></a>
          </div>
          <div class="col-md-2">
            <a href="https://www.instagram.com/maxsersj/"><i class="m-0 bx bxl-instagram"></i></a>
          </div>
          <div class="col-md-2">
            <a href="https://www.youtube.com/channel/UCQIHugWJjopHZiHSmxsEpBQ"><i class="m-0 bx bxl-youtube"></i></a>
          </div>
          <div class="col-md-2">
            <a href=""><i class="m-0 bx bxl-telegram"></i></a>
          </div>
          <div class="col-md-2">
            <a href="https://www.twitch.tv/maxsersj"><i class="m-0 bx bxl-twitch"></i></a>
          </div>
          <div class="col-md-2">
            <a href="https://vm.tiktok.com/ZM8h7uTSF/"><i class="m-0 bx bxl-tiktok"></i></a>
          </div>
        </div>
      <p></p>
    </div>
    <div class="mb-3 col-md-3 col-sm-12 justify-content-center text-center div-ventas">
      <p>
        Correo
        <br>
        <br>
        <a style="color: #FE5000;" href="mailto:ventas@maxser.com.ar">
          </a></p><p class="orange"><a style="color: #FE5000;" href="mailto:ventas@maxser.com.ar">ventas@maxser.com.ar</a></p><a style="color: #FE5000;" href="mailto:ventas@maxser.com.ar">
        </a>
      <p></p>
    </div>
    <div class="mb-3 col-md-3 col-sm-12 justify-content-center text-center div-tel-fijo">
      <p>
        Teléfono
        <br>
        <br>
        </p><p class="orange">(0264)-4282233</p>
      <p></p>
    </div>
  </div>
</div>
<!-- End Social Media -->









































<div class="container-fluid mailer pt-3 pb-5" id="">
    <div class="container">
      <div class="text-white mb-3 pb-3 fs-2 m-auto w-50 text-center">
        <p style="font-family: Zolano;">Dudas, consultas y reclamos</p>
      </div>
      <form action="" method="post">
        <div class="input-group mt-3 w-50 m-auto">
          <span class="input-group-text">Para:</span>
          <select name="emailFor" id="" class="form-control">
            <option value="eshop@maxser.com.ar">E-shop</option>
            <option value="ventas@maxser.com.ar">Ventas</option>
            <option value="matketing@maxser.com.ar">Marketing</option>
            <option value="empresas@maxser.com.ar">Empresas</option>
            <option value="compras@maxser.com.ar">Compras</option>
            <option value="braianvargas1616@gmail.com">Mio</option>
          </select>
          <span class="input-group-text">
            <i class="bi bi-caret-down-fill"></i>
          </span>
        </div><br>
        <div class="mb-3 w-50 m-auto">
          <label for="exampleFormControlInput1" class="form-label text-white">Nombre</label>
          <input type="text" name="clientName" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
        </div><br>
        <div class="mb-3 w-50 m-auto">
          <label for="exampleFormControlInput1" class="form-label text-white">Direccion de correo</label>
          <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="usuario@gmail.com">
        </div><br>
        <div class="mb-3 w-50 m-auto">
          <label for="exampleFormControlInput1" class="form-label text-white">Asunto</label>
          <input type="text" name="subject" class="form-control" id="exampleFormControlInput1" placeholder="Asunto - Motivo">
        </div><br>
        <div class="mb-3 w-50 m-auto">
          <label for="exampleFormControlTextarea1" class="form-label text-white">Redactar duda o reclamo</label>
          <textarea name="emailBody" class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
        </div>
        
        <div class="input-group mt-3 w-50 m-auto">
          <input type="submit" class="form-control btn btn-orange">
        </div> 
    </form>
    </div>
    <div data-aos="fade-in" data-aos-offset="450" data-aos-easing="ease-out-sine" class="container row m-auto">
    </div>
  </div>