<div class="row">
    <div class="col-12 col-md-6">
        <section class="showcase">
            <!-- <video class="container" id="vid" src="../../../../assets/video/cuotas fijas.mp4" [autoplay]="true" loop [muted]="true"></video> -->
            <img src="../../../../assets/img/bg.jpg" alt="">
            <h1 class="title">MAXSER</h1>
        </section>
    </div>
    <div class="video">
        <video class="d-md-block container w-100" id="video" loop [autoplay]='true' preload [muted]='true' playsinline src="../../../../assets/video/cuotas fijas.mp4"></video>
    </div>
</div>




  <!-- Inicio Maxsoft -->
  <div class="p-5" id="maxsoft">
    <div class=" row justify-content-end m-auto p-5 d-flex">
      <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" class="col-12 col-md-10">
        <img src="../../../../assets/img/maxsoft/logo.webp" class="m-auto col-12 col-md-10 maxsoft-logo" alt="maxsoft-logo"  > 
        <p class="text-white">
          El mejor sistema de gestión de inventario, ventas y servicios para tu empresa o negocio.
        </p>
      </div>
      <div data-aos="zoom-in" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-12 col-md-2 alin-items-center">
        <a target="_blank" href="enterprise.html" style="border: solid 2px #fe9000; background-color: #e9650e; margin-top: 70px;" 
          class="btn">
          Más info!
        </a>
      </div>
    </div>
  </div>
  <!-- End Maxsoft -->
