@font-face {
    font-family: 'Zolano';
    src: url("../../../../assets/fonts/zolano.ttf");
}
#maxsoft{
    width: 100%;
    font-family:"BrownPro";
    background-image: url("../../../../assets/img/maxsoft/fondo-maxsoft.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.maxsoft-logo{
    min-width: 200px; 
    max-width: 550px;
}
.carousel-products{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.747),  rgb(0, 0, 0)), url("../../../../assets/img/carousel/fondo-products.webp");
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-products .carousel-item img{
    max-width: 250px;
    margin: auto;
    padding: .2em;
}


