<!-- Inicio Pie de Página -->
<div id="pie" class="container-fluid bg-black top-0 p-5">
  <div class="container row m-auto">
    <div class="col-sm-12 top-0 col-md-4 mb-3 justify-content-center text-center text-md-left">
      <img src="../../../../assets/img/LOGO.webp" width="200" height="97">
    </div>
    <div class="col-sm-12 col-md-7 text-md-end text-center">
      <p>Maxser© Todos los derechos reservados</p>
    </div>
    <div class="col-sm-12 col-md-1 text-md-end text-center justify-content-center">
      <a href="http://qr.afip.gob.ar/?qr=NrhR4fVjecn_U2p8ncSDsg,," target="_F960AFIPInfo"> <img class="m-auto"
          style="width: 50px; height: auto;" src="../../../../assets/img/DATAWEB.jpg"> </a>
    </div>
  </div>
</div>


<div class="container-fluid bg-black">
  <div class="row text-end">
    <a target="_blank" href="https://bricode-sj.web.app/" style="text-decoration: none; color: #FFF; font-size: small;">
      Desarrollado con ❤ por BriCode | <strong>Contactar</strong>
    </a>
  </div>
  <br>
</div>
<!-- Fin Pie de Página -->
